div.model {
    width: 90%;
    height: 25ex;
    sizing: border-box;
    margin: auto;
}

div.model textarea {
    width: 100%;
    height: 100%;
    sizing: border-box;
}

div.controls {
    margin-top: 1.5ex;
    margin-left: 5%;
}

#plot {
    position: relative;
    overflow: hidden;
}

.ruler {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #888;
}
#plot:hover .ruler {
    display: block;
}

#hrule {
    height: 1px;
    left: 0px;
    right: 0px;
}

#vrule {
    width: 1px;
    top: 0px;
    bottom: 0px;
}

