div.narrow {
    position: relative;
    width: 90%;
    margin: auto;
}

section.columns {
    display: flex;
}

section.columns > div {
    position: relative;
    flex-basis: 0px;
    flex-grow: 1;
}

div.model {
    box-sizing: border-box;
}

span.init-model-buttons {
    float:right;
}

div.model-separator {
    height: 4px;
}

div.downloads {
    margin-top: 1ex;
}

div.stats {
    font-size: 90%;
    font-style: italic;
    color: #888;
}

#results {
    margin-top: 3ex;
}

#info {
    font-size: 80%;
    font-style: italic;
}

#status {
    color: darkgreen;
}

#errors {
    color: red;
}

.error {
    color: red;
}

.warning {
    color: orange;
}

div.controls {
    margin-top: 1.5ex;
}

th.quantity {
    text-align: right;
}

th.quantity.name {
    font-weight: normal;
}

div.plotly {
    position: relative;
    overflow: hidden;
    aspect-ratio: 5/1;
}

.ruler {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #888;
}
#plot:hover .ruler {
    display: block;
}

#hrule {
    height: 1px;
    left: 0px;
    right: 0px;
}

#vrule {
    width: 1px;
    top: 0px;
    bottom: 0px;
}

table.states {
    border-collapse: collapse;
}

table.states td {
    padding: 0px 5px;
    border: 1px solid #888;
    text-align: center;
}

table.states th {
    padding: 0px 5px;
    border: 1px solid #888;
}

th.property {
    font-weight: normal;
    font-style: italic;
}

table.states td.qualitative {
    text-align: center;
}

table.states td.float {
    text-align: right;
}

table.states td.garp-link {
    text-align: center;
}

table.states td.garp-link.garp {
}

table.states td.match {
    background-color: #7eff7d;
}

table.states td.nomatch {
    background-color: #ff7c7d;
}

table.states td.ambiguous {
    background-color: #7e7bff;
}

table.states tr.simulation {
    background-color: #ddd;
}

table.states tr.garp {
    background-color: #bbb;
}

span.qspace-point:before {
    content: "\25c9";
    font-size: 90%;
    margin-right: 2px;
}

span.qspace-point {
    color: blue;
}

span.qspace-error {
    color: red;
}

span.plus {
    font-size: 200%;
    line-height: 50%;
    vertical-align: -6px;
    font-style: normal;
    color: #080
}

span.min {
    font-size: 200%;
    line-height: 50%;
    vertical-align: -6px;
    font-style: normal;
    color: #800
}

table.quantities {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    margin-top: 1ex;
    border-collapse: collapse;
}

tr.quantity-link:nth-child(odd) {
    background: #ddd;
}

table.quantities th.quantity {
    padding-right: 2ex;
}

table.quantities td.link {
    text-align: center;
}

span.entity-attr {
    font-size: 90%;
}

span.entity {
    font-size: 70%;
    position: relative;
    top: -1.3ex;
}

/* Quantity spaces */

#qspace-controls {
    margin-top: 1ex;
    border-bottom: 1px solid #888;
    margin-bottom: 1ex;
}

div.qspace-control {
    padding: 3px;
}

div.qspace-control:nth-child(odd) {
    background: #ddd;
}

div.qspace-header {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #888;
    margin-bottom: 1ex;
}

span.qspace-quantity {
    font-weight: bold;
    margin-right: 2ex;
}

span.qspace-sep {
    padding-left: 5px;
    padding-right: 5px;
    color: #888;
}

div.qspace-point {
    font-size: 80%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

span.qspace-interval {
    font-size: 80%;
}

input.qspace-point::-webkit-outer-spin-button,
input.qspace-point::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.qspace-point {
    -moz-appearance: textfield;
}

/* Mathlive */

div.equations {
    border: 1px solid #000;
    padding: 10px;
    height: 30ex;
    overflow: auto;
    resize: vertical;
}

div.equation:nth-child(even) math-field {
    background: #ddd;
}

div.equation {
    white-space:nowrap;
}

math-field {
    width: calc(100% - 2ex);
    margin-bottom: 1px;
}

span.delete-equation {
    cursor: default;
    color: red;
    margin-left: 5px;
}

math-field::part(container) {
    padding: 0px;
    border: 0px;
}

/* Hide the virtual keyboard toggle */
math-field::part(virtual-keyboard-toggle) /*,
math-field::part(menu-toggle)*/ {
    height: 20px;
    display: none;
}

math-field:focus::part(virtual-keyboard-toggle) /*,
math-field:focus::part(menu-toggle)*/ {
    display: flex;
}

/* docs say this is the placeholder */
math-field::part(prompt) {
    top: 10px;
}

div.add-equation {
    cursor: default;
    line-height: 50%;
    font-size: 300%;
    font-weight: bold;
    color: darkgreen;
}

div.ml-error:before, span.qspace-error:before {
    content: "\26A0\FE0F";
    margin-right: 5px;
}

div.ml-error {
    color: red;
}

div.ml-error span.latex {
    color: darkblue;
    background-color: #eee;
    font-family: monospace;
    font-size: 80%;
    margin-left: 1ex;
}
